.landing-extlinks {
  margin-top: calc(var(--landing-padding4) * -1);
}
.toggle-btn {
  font-size: var(--fs--3);
  font-weight: 600;
  padding: var(--landing-padding3) var(--landing-padding2);
  background-color: transparent;
  color: var(--primary-content);
  border: 1px solid var(--primary-content);
  border-radius: 8px;
  cursor: pointer;
}
.links-grid {
  display: grid;
  gap: var(--landing-padding3);
  margin: var(--landing-padding3);
  margin-top: var(--landing-padding3);
  animation: fadeIn 0.6s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link-item {
  font-size: var(--fs-0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--landing-padding3) var(--landing-padding2);
  border-radius: 4px;
  border-left: 4px solid var(--primary-content);
  background-color: hsl(from var(--primary-bg) h s l / 0.8);
  gap: var(--landing-padding2);
  text-align: left;
}
.link-item:hover {
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
  border-left: 4px solid var(--primary-content-hover);
}

.link-item a {
  text-decoration: none;
  color: var(--primary-content);
  font-weight: 500;
}

.status {
  font-size: var(--fs--1);
  text-transform: capitalize;
  opacity: 0.8;
}

.link-item.active a,
.status.active {
  color: var(--active-color);
}
.link-item.deactivated a,
.status.deactivated {
  color: var(--deactivated-color);
}
.link-item.inactive a,
.status.inactive {
  color: var(--inactive-color);
}
.link-item.personal a,
.status.personal {
  color: var(--private-color);
}
.link-item.private a,
.status.private {
  color: var(--private-color);
}
.link-item.abandoned a,
.status.abandoned {
  color: var(--private-color);
}

.link-item:hover a,
.link-item:hover .status {
  color: inherit;
}
.link-item.active{
  border-left: 4px solid var(--active-color);
}
.link-item.deactivated  {
  border-left: 4px solid var(--deactivated-color);
}
.link-item.inactive  {
  border-left: 4px solid var(--inactive-color);
}
.link-item.personal  {
  border-left: 4px solid var(--private-color);
}
.link-item.private  {
  border-left: 4px solid var(--private-color);
}
.link-item.abandoned  {
  border-left: 4px solid var(--private-color);
}