:root {
  --landing-padding: var(--sp-xs);
  --landing-padding2: calc(var(--landing-padding) / 2);
  --landing-padding3: calc(var(--landing-padding2) / 2);
  --landing-padding4: calc(var(--landing-padding3) / 2);

  --landing-pfp-size: var(--fluid-100-150);
  --landing-pfp-aspect-ratio: calc(560 / 600);
  --pfpzone-width-1: calc(60 / 150 * 100%);
  --pfpzone-width-2: calc(30 / 150 * 100%);
  --pfpzone-height-1: calc(97 / 150 * 100% * var(--landing-pfp-aspect-ratio));
  --pfpzone-height-2: calc(
    (var(--landing-pfp-size) / var(--landing-pfp-aspect-ratio)) -
      var(--pfpzone-height-1)
  );
  --card-width: clamp(var(--fluid-280-400), 450px, 90%);
  --social-link-icon-size: var(--fluid-35-50);
  --social-link-width: var(--fluid-175-225);
  --char-icon-size: var(--fluid-35-40);
  --news-card-height: clamp(var(--fluid-280-400), 800px, 90vh);
}
/* 
|| -----------------------------------------
|| LANDING CONTAINER
|| -----------------------------------------
*/
@keyframes bgpulse {
  0% {
    background-color: hsl(from var(--primary-bg) h s l / 0.3);
  }
  50% {
    background-color: hsl(from var(--primary-bg) h s l / 0.8);
  }
  100% {
    background-color: hsl(from var(--primary-bg) h s l / 0.3);
  }
}
.landing-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: var(--landing-padding);
  gap: var(--landing-padding);
  width: 100%;
  background-color: hsl(from var(--primary-bg) h s l / 0.7);
  animation: bgpulse 10s ease-in-out infinite;
}
.landing-container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--landing-padding);
  width: var(--card-width);
}
/* 
|| -----------------------------------------
|| LANDING CARD
|| -----------------------------------------
*/
.landing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--landing-padding2) 0;
  gap: var(--landing-padding2);
  background-color: hsl(from var(--primary-bg) h s l / 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  color: var(--primary-content);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px hsl(from var(--shadow) h s l / 0.4);
  width: var(--card-width);
}
.landing-card:hover {
  background-color: hsl(from var(--primary-bg) h s l / 0.9);
  box-shadow: 0 0 10px 1px hsl(from var(--glow) h s l / 0.6);
}
.landing-card.header {
  padding-top: 0;
  overflow: hidden;
}
.landing-card.footer {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-0);
  letter-spacing: 2px;
  font-weight: 600;
  width: 100%;
  border-radius: 0;
}
.LP-card-title {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-1);
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--primary-content);
  padding-bottom: var(--landing-padding3);
  text-align: center;
}
/* 
|| -----------------------------------------
|| LANDING CARD -> LANDING PROFILE
|| -----------------------------------------
*/
.landing-profile {
  background-color: hsl(from var(--tertiary-bg) h s l / 0.4);
  color: var(--tertiary-content);
  width: 100%;
  padding: var(--landing-padding2) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: var(--landing-padding2);
  --svg-1: var(--primary-content);
}
.pfpzone {
  pointer-events: auto;
}
.pfpzone.A0,
.pfpzone.B0 {
  width: var(--pfpzone-width-1);
  height: var(--pfpzone-height-1);
}
.pfpzone.C0 {
  width: var(--pfpzone-width-2);
  height: var(--pfpzone-height-1);
}
.pfpzone.A1,
.pfpzone.B1 {
  width: var(--pfpzone-width-1);
  height: var(--pfpzone-height-2);
}
.pfpzone.C1 {
  width: var(--pfpzone-width-2);
  height: var(--pfpzone-height-2);
}
.pfp-overlay {
  position: absolute;
  top: var(--landing-padding2);
  background-image: var(--landing-pfp-overlay);
  background-size: cover;
  width: var(--landing-pfp-size);
  aspect-ratio: var(--landing-pfp-aspect-ratio);
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  z-index: 2;
}
.pfp-overlay:hover {
  opacity: 1;
}
.landing-pfp-container {
  position: relative;
}
.landing-pfp {
  z-index: 1;
  position: relative;
  background-image: var(--landing-pfp-overlay);
  background-size: cover;
  width: var(--landing-pfp-size);
  aspect-ratio: 560 / 600;
}
.landing-pfp-bg {
  position: absolute;
  top: 0;
  left: 0;
  --stroke: 0.25px;
  width: calc(100% + var(--stroke));
  height: calc(100% + var(--stroke));
  --svg-1: var(--primary-content);
}
.landing-name {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-2);
  color: var(--primary-content);
  text-shadow: 0 0 10px hsl(from var(--glow) h s l / 0.5);
  paint-order: stroke fill;
  margin-top: calc(var(--landing-padding) / -1);
  line-height: 1.6;
}
.landing-name:hover {
  color: var(--primary-content-hover);
  text-shadow: 0 0 10px var(--glow);
  -webkit-text-stroke: 4px hsl(from var(--glow) h s l / 0.5);
}
.landing-bio {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-0);
  text-shadow: 0 0 10px hsl(from var(--glow) h s l / 0.2);
  margin-top: calc(var(--landing-padding) / -1);
  line-height: 0.9;
  margin-bottom: var(--landing-padding4);
}
.landing-bio:hover {
  color: var(--primary-content);
  -webkit-text-stroke: 4px hsl(from var(--primary-bg) h s l / 0.2);
  text-shadow: 0 0 10px hsl(from var(--primary-bg) h s l / 0.2);
  transform: scale(1.1);
}
.landing-socials {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.social-home,
.social-links {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-0);
  color: var(--tertiary-content);
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  width: var(--social-link-icon-size);
  --svg-0: var(--primary-bg);
  --svg-1: var(--primary-content);
  --svg-2: var(--primary-bg);
  transition: all 0.3s ease;
}
.social-home {
  background-color: var(--tertiary-content);
  color: var(--tertiary-bg);
  width: var(--social-link-width);
  padding: 0 var(--landing-padding3);
  --svg-0: var(--glow);
}
.social-home-icon svg {
  width: 70%;
}
.social-links svg {
  width: 80%;
}
.social-home-icon {
  background-size: cover;
  width: var(--social-link-icon-size);
  height: var(--social-link-icon-size);
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-linkicon {
  background-size: cover;
  width: var(--social-link-icon-size);
  height: var(--social-link-icon-size);
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-home-name,
.social-linkname {
  pointer-events: none;
  opacity: 0;
  margin-left: calc(var(--landing-padding4) * 1.5);
  margin-right: var(--landing-padding4);
  transition: all 0.3s ease;
  white-space: nowrap;
}
.social-home-name {
  opacity: 1;
}
.social-home-name span:first-child,
.social-linkname span:first-child {
  margin-right: var(--landing-padding2);
}
.social-links:hover {
  width: var(--social-link-width);
  background-color: var(--tertiary-bg);
}
.social-links:hover .social-linkname {
  opacity: 1;
}
.landing-socials:hover .social-home {
  width: var(--social-link-icon-size);
  background-color: transparent;
}
.landing-socials:hover .social-home-name {
  opacity: 0;
}
.landing-socials:hover .social-home:hover {
  width: var(--social-link-width);
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
  box-shadow: 0 8px 12px color-mix(in srgb, var(--glow) 50%, transparent);
  transition: all 1s ease;
}
.landing-socials:hover .social-home:hover .social-home-name {
  opacity: 1;
  transition: all 1s ease;
}
/* 
|| -----------------------------------------
|| LANDING PROFILE -> THEME BUTTONS
|| -----------------------------------------
*/
:root {
  --icon-size: var(--fluid-25-30);
}
.landing-theme-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--icon-size);
  gap: var(--landing-padding2);
}
.landing-theme-button {
  background-color: inherit;
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--landing-padding2);
}
.landing-theme-button:hover:not(.landing-theme-button.active) {
  padding: var(--landing-padding4);
  opacity: 0.6;
  transform: scale(1.2);
}
.landing-theme-icon {
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  aspect-ratio: 1;
  border: none;
}
.landing-theme-button.active {
  aspect-ratio: initial;
  margin: 0 var(--landing-padding);
  padding: var(--landing-padding4) var(--landing-padding2);
  opacity: 1;
  transform: scale(1.2);
  border: 1px solid var(--tertiary-content-hover);
  background-color: var(--tertiary-bg-hover);
  color: var(--tertiary-content-hover);
  box-shadow: 0 8px 12px color-mix(in srgb, var(--glow) 50%, transparent);
  cursor: auto;
}
.landing-theme-button.active[aria-label]::after {
  content: attr(aria-label);
  font-size: var(--fs--2);
}
.landing-theme-button.active:hover {
  box-shadow: inherit;
}
/* 
|| -----------------------------------------
|| LANDING CARD -> CHARACTER ICONS
|| -----------------------------------------
*/
.landing-card.charicons {
  gap: var(--landing-padding3);
  text-decoration: none;
}
.charicons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid hsl(from var(--primary-content) h s l / 0.2);
  border-radius: 4px;
  width: 90%;
  flex-wrap: wrap;
}
.charicon {
  width: var(--char-icon-size);
}
.charicons-wrapper.seavalanchefragments {
  background-color: hsl(from var(--protagonist-character-color) h s l / 0.4);
}
.charicons-wrapper.teamemblem {
  background-color: hsl(from var(--deuteragonist-character-color) h s l / 0.3);
}
.charicons-wrapper.themisguided {
  background-color: hsl(
    from var(--psychological-antagonist-character-color) h s l / 0.2
  );
}
.charicons-wrapper.thefeared {
  background-color: hsl(from var(--the-feared-character-color) h s l / 0.2);
}
.charicons-wrapper.multiversevesnea {
  background-color: hsl(
    from var(--multiverse-vesnea-character-color) h s l / 0.2
  );
}
/* 
|| -----------------------------------------
|| LANDING CARD -> LANDING BIO
|| -----------------------------------------
*/
.bio-list {
  display: grid;
  gap: var(--landing-padding3);
  margin: var(--landing-padding3);
  margin-bottom: 0;
  animation: fadeIn 0.6s ease;
}
.list-item {
  font-size: var(--fs-0);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--landing-padding3) var(--landing-padding2);
  border-radius: 4px;
  border-left: 4px solid var(--secondary-bg);
  background-color: hsl(from var(--secondary-bg) h s l / 0.5);
  gap: var(--landing-padding2);
  text-align: left;
}
.list-item:hover {
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
  border-left: 4px solid var(--primary-bg-hover);
}
.bio-list-topic {
  font-weight: 600;
}
.list-item a {
  text-decoration: none;
  color: var(--deactivated-color);
}
.list-item a:hover {
  color: var(--primary-content-hover);
}
/* 
|| -----------------------------------------
|| LANDING CARD -> NEWS SECTION
|| -----------------------------------------
*/
.NS-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: var(--landing-padding2);
  height: var(--news-card-height);
  overflow: auto;
}
.NS-tagfilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: var(--landing-padding4);
}
.NS-tagfilters-btn {
  padding: var(--landing-padding2);
  border-radius: 8px;
  font-size: var(--fs--1);
  font-family: "Josefin Sans";
  font-weight: 300;
}
.NS-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--landing-padding2);
}
.NS-article {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--secondary-bg);
  color: var(--secondary-content);
  border-radius: 8px;
  box-shadow: 0 1px 4px var(--shadow);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  width: calc(90% - 20px);
  padding: var(--landing-padding);
  gap: var(--landing-padding2);
}
.NS-article:hover {
  background-color: var(--primary-bg-hover);
  color: var(--primary-content-hover);
}
.NS-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100%;
}
.NS-date {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-1);
  font-weight: 600;
}
.NS-title {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-2);
  letter-spacing: 1px;
  color: var(--primary-content);
  width: 100%;
  font-weight: 600;
}
.NS-article:hover .NS-title {
  color: var(--primary-content-hover);
}
.NS-content {
  font-family: "SeavalancheFont";
  font-size: var(--sffs-1);
  letter-spacing: 0.2px;
}
.NS-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--landing-padding2);
}
.NS-tag {
  padding: 0 var(--landing-padding3);
  background-color: var(--tertiary-bg);
  color: var(--tertiary-content);
  border: 1px solid var(--tertiary-content);
  border-radius: 8px;
  font-size: var(--fs--2);
}
