.landing-extlinks {
  margin-top: calc(var(--landing-padding4) * -1);
}
.toggle-btn {
  font-size: 8pt;
  font-weight: 600;
  padding: var(--landing-padding3) var(--landing-padding2);
  background-color: transparent;
  color: var(--main-font-color);
  border: 1px solid var(--main-color);
  border-radius: 8px;
  cursor: pointer;
}
.links-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--landing-padding3);
  margin-top: var(--landing-padding3);
  animation: fadeIn 0.6s ease;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.link-item {
  font-size: 14pt;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--landing-padding3) var(--landing-padding2);
  border-radius: 4px;
  border-left: 4px solid var(--secondary-accent-color);
  background-color: var(--landing-extlinks-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  gap: var(--landing-padding2);
  text-align: left;
}
.link-item:hover {
  background-color: var(--landing-extlinks-hover-color);
}

.link-item a {
  text-decoration: none;
  color: var(--main-font-color);
  font-weight: 500;
}

.status {
  font-size: 0.85em;
  text-transform: capitalize;
  opacity: 0.8;
}

.link-item.active a,
.status.active {
  color: var(--active-color);
}
.link-item.deactivated,
.status.deactivated {
  color: var(--deactivated-color);
}
.link-item.inactive a,
.status.inactive {
  color: var(--inactive-color);
}
.link-item.personal a,
.status.personal {
  color: var(--private-color);
}
.link-item.private a,
.status.private {
  color: var(--private-color);
}
.link-item.abandoned a,
.status.abandoned {
  color: var(--private-color);
}
