:root {
  --main-color: var(--C-Vesnea_white);
  --secondary-color: var(--C-Uzakon_Light_Purple);
  --main-accent-color: var(--C-Uzakon_Light_Purple);
  --secondary-accent-color: var(--C-Vesnea_Light_Pink);
  --main-font-color: var(--C-Vesnea_Purple);
  --secondary-font-color: var(--C-SeaWeb_Purple);
  --onaccent-font-color: var(--C-SeaWeb_Purple);
  --asaccent-font-color: var(--cutepink2);
  --active-color: hsl(from var(--attribute-nature) h s calc(l - 15) / 1);
  --deactivated-color: hsl(from var(--attribute-metal) h s l / 0.5);
  --inactive-color: hsl(from var(--attribute-metal) h s l / 0.5);
  --private-color: hsl(from var(--attribute-sound) h s calc(l - 15) / 1);

  --landing-padding: 20px;
  --landing-padding2: calc(var(--landing-padding) / 2);
  --landing-padding3: calc(var(--landing-padding2) / 2);
  --landing-padding4: calc(var(--landing-padding3) / 2);

  --card-width: 80%;
  --card-max-width: 600px;
  --card-color: hsl(from var(--main-color) h s l / 0.7);
  --card-hover-color: color-mix(
    in srgb,
    var(--landing-profile-color) 20%,
    var(--card-color) 80%
  );
  --card-border-color: hsl(from var(--secondary-color) h s l / 0.5);
  --card-border-hover-color: var(--main-accent-color);

  --landing-profile-color: var(--main-accent-color);
  --landing-pfp: url(../Assets//Header/Header_pfp_1.png);
  --landing-name-color: var(--main-color);
  --linkicon-home: url(../Assets/Header/Header_home_light.png);
  --linkicon-kofi: url(../Assets/Header/Header_kofi_light.svg);
  --linkicon-bsky: url(../Assets/Header/Header_bsky_light.svg);
  --landing-extlinks-color: color-mix(
    in srgb,
    var(--main-accent-color) 50%,
    var(--main-color) 50%
  );
  --landing-extlinks-hover-color: hsl(
    from var(--secondary-accent-color) h s l / 1
  );
  --landing-extlinks-hover-color: var(--secondary-accent-color);
}
[data-theme="dark"] {
  --main-color: var(--C-SeaWeb_Purple);
  --secondary-color: var(--C-SeaWeb_Dark_Purple);
  --main-accent-color: var(--C-Korazu_Yellow);
  --secondary-accent-color: var(--C-Korazu_Orange);
  --main-font-color: var(--C-Korazu_Yellow);
  --secondary-font-color: var(--C-Vesnea_white);
  --onaccent-font-color: var(--C-SeaWeb_Purple);
  --asaccent-font-color: var(--C-Korazu_Yellow);
  --active-color: var(--attribute-nature);
  --deactivated-color: var(--attribute-metal);
  --inactive-color: var(--attribute-metal);
  --private-color: var(--attribute-sound);

  --landing-profile-color: hsl(from var(--main-accent-color) h s l / 0.3);
  --landing-pfp: url(../Assets//Header/Header_pfp_3.png);
  --landing-name-color: var(--secondary-accent-color);
  --linkicon-home: url(../Assets/Header/Header_home_dark.png);
  --linkicon-kofi: url(../Assets/Header/Header_kofi_dark.svg);
  --linkicon-bsky: url(../Assets/Header/Header_bsky_dark.svg);
  --landing-extlinks-color: hsl(from var(--secondary-color) h s l / 0.5);
  --landing-extlinks-hover-color: hsl(
    from var(--secondary-accent-color) h s l / 0.3
  );
}
[data-theme="star"] {
  --main-color: var(--C-SeaWeb_Dark_Purple);
  --secondary-color: var(--C-SeaWeb_Dark_Purple);
  --main-accent-color: var(--C-Uzakon_Light_Purple);
  --secondary-accent-color: var(--C-Zumiko_Red);
  --main-font-color: var(--C-Uzakon_Light_Purple);
  --secondary-font-color: var(--C-Uzakon_Purple);
  --onaccent-font-color: var(--C-SeaWeb_Purple);
  --asaccent-font-color: var(--C-Zumiko_Red);
  --active-color: var(--attribute-nature);
  --deactivated-color: var(--attribute-metal);
  --inactive-color: var(--attribute-metal);
  --private-color: var(--attribute-sound);

  --landing-profile-color: hsl(from var(--C-SeaWeb_Purple) h s l / 0.5);
  --landing-pfp: url(../Assets//Header/Header_pfp_4.png);
  --landing-name-color: var(--main-accent-color);
  --linkicon-home: url(../Assets/Header/Header_home_star.png);
  --linkicon-kofi: url(../Assets/Header/Header_kofi_star.svg);
  --linkicon-bsky: url(../Assets/Header/Header_bsky_star.svg);
  --landing-extlinks-color: hsl(from var(--secondary-color) h s l / 0.5);
  --landing-extlinks-hover-color: hsl(
    from var(--secondary-accent-color) h s l / 0.3
  );
}
.landing-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  /* flex-direction: row; */
  /* align-items: flex-start; */
  justify-content: center;
  margin: var(--landing-padding) 0;
  gap: var(--landing-padding);
  width: 100%;
}
.landing-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--card-width);
  max-width: var(--card-max-width);
  width: min(var(--card-width), 100%);
  min-width: min(350px, 100%);
  padding: var(--landing-padding2) 0;
  gap: var(--landing-padding2);
  background-color: var(--card-color);
  color: var(--generalcontent-text);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px var(--card-border-color);
  transition: all 0.3s ease-out;
  transition-delay: 0s;
}
.landing-card:hover {
  background-color: var(--card-hover-color);
  box-shadow: 0 0 10px 1px var(--card-border-hover-color);
}
.landing-card.header {
  padding-top: 0;
  overflow: hidden;
}
.landing-container {
  flex: 1 100%;
}
.LP-card-title {
  font-family: "SeavalancheFont";
  font-size: 22pt;
  letter-spacing: 1px;
  font-weight: 600;
  color: var(--main-font-color);
  padding-bottom: var(--landing-padding3);
  text-align: center;
}
.landing-card.header {
  order: 0;
  flex: 1 0px;
}
.landing-card.charicons {
  /* order: 1; */
  flex: 1 0px;
}
.landing-card.newsarea {
  order: 0;
  flex: 3 0px;
}
.landing-profile {
  background-color: var(--landing-profile-color);
  width: 100%;
  padding: var(--landing-padding2) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: var(--landing-padding2);
}
/* .landing-profile:hover .landing-extlinks {
  display: block;
} */
.landing-pfp {
  background-image: var(--landing-pfp);
  background-size: cover;
  width: 150px;
  aspect-ratio: 560 / 600;
}
.landing-name {
  font-family: "SeavalancheFont";
  font-size: 28pt;
  color: var(--landing-name-color);
}
.landing-bio {
  font-family: "SeavalancheFont";
  margin-top: calc(var(--landing-padding2) / -2);
  font-size: 18pt;
}
.landing-socials {
  display: flex;
  gap: var(--landing-padding3);
  max-width: 90%;
}
.social-home {
  font-family: "SeavalancheFont";
  font-size: 24pt;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--main-font-color);
  gap: var(--landing-padding3);
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  transition: width 0.3s ease;
  position: relative;
  width: 285px;
  background-color: var(--card-hover-color);
  padding: var(--landing-padding4) var(--landing-padding3);
}
.social-links {
  font-family: "SeavalancheFont";
  font-size: 24pt;
  letter-spacing: 1px;
  font-weight: 600;
  text-decoration: none;
  color: var(--main-font-color);
  gap: var(--landing-padding3);
  padding: var(--landing-padding4) 0;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  transition: width 0.3s ease;
  width: 50px;
  position: relative;
}
.social-home-icon {
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  flex-shrink: 0;
  background-image: var(--linkicon-home);
}
.social-linkicon {
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
  flex-shrink: 0;
}
.social-linkicon.kofi {
  background-image: var(--linkicon-kofi);
}
.social-linkicon.bsky {
  background-image: var(--linkicon-bsky);
}
.social-home-name {
  pointer-events: none;
  transition: all 0.3s ease;
  white-space: nowrap;
  opacity: 1;
  margin-left: 5px;
  transition: opacity 0.3s ease;
}
.social-linkname {
  pointer-events: none;
  transition: all 0.3s ease;
  white-space: nowrap;
  opacity: 0;
  margin-left: 5px;
  transition: opacity 0.3s ease;
}
@media only screen and (max-width: 535px) {
  .social-home-name,
  .social-linkname {
    font-size: 12pt;
  }
}
.social-links:hover {
  width: 285px;
  background-color: var(--card-hover-color);
  padding: var(--landing-padding4) var(--landing-padding3);
}
.social-links.kofi:hover {
  width: 265px;
}
.social-links:hover .social-linkname {
  opacity: 1;
  transition: all 0.6s ease;
  transform: translateX(0);
}
.landing-socials:hover .social-home {
  width: 50px;
  padding: var(--landing-padding4) 0;
  background-color: transparent;
}
.landing-socials:hover .social-home-name {
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateX(0);
}
.landing-socials:hover .social-home:hover {
  width: 285px;
  background-color: var(--card-hover-color);
  padding: var(--landing-padding4) var(--landing-padding3);
  background-color: var(--button-background-active);
  color: var(--button-text-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
  transition: all 1s ease;
}
.landing-socials:hover .social-home:hover .social-home-name {
  opacity: 1;
  transition: all 1s ease;
  transform: translateX(0);
}
.landing-card.charicons {
  padding: var(--landing-padding) 0;
  gap: var(--landing-padding3);
  text-decoration: none;
}
.charicons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  overflow: hidden;
  max-width: 90%;
  width: 90%;
  flex-wrap: wrap;
}
.charicon {
  width: 50px;
}
.charicons-wrapper.mainchar {
  background-color: hsl(from var(--C-Korazu_Light_Yellow) h s l / 0.4);
}
.charicons-wrapper.deuterachar {
  background-color: hsl(from var(--C-MythSeavalanche_Dark_Green) h s l / 0.3);
}
.charicons-wrapper.psyvillainchar {
  background-color: hsl(from var(--attribute-sound) h s l / 0.2);
}
.NS-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px 10px;
  gap: 10px;
  max-height: 720px;
  overflow: auto;
}
.NS-tagfilters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.NS-tagfilters-btn {
  padding: 5px;
  background-color: var(--card-border-color);
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
}
.NS-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.NS-article {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: var(--bg-color-1);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: calc(90% - 20px);
  padding: 20px 20px;
  gap: 10px;
}
.NS-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.NS-date {
  font-family: "SeavalancheFont";
  font-size: 18pt;
  font-weight: 600;
}
.NS-title {
  font-family: "SeavalancheFont";
  font-size: 32pt;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0 0 10px;
  color: var(--asaccent-font-color);
  width: 100%;
}
.NS-content {
  font-family: "SeavalancheFont";
  font-size: 22pt;
}
.NS-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.NS-tag {
  padding: 0 5px;
  background-color: var(--card-border-color);
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  font-size: var(--Fs-Content-smaller);
}
@media only screen and (max-width: 350px) {
  .NS-header {
    flex-wrap: wrap;
  }
}
