/* TEXTPANEL, BUTTON, INPUT */ /* TEXTPANEL, BUTTON, INPUT */
.textpanel {
  border-bottom: 1px dashed var(--textpanel-border);
}
.textpanel input {
  background-color: var(--textpanel-background);
  color: var(--textpanel-text);
  border: 1px solid var(--textpanel-border2);
  border-radius: 4px;
  outline: none;
}
.textpanel input:hover,
input:focus {
  background-color: var(--textpanel-background-active);
  color: var(--textpanel-text-active);
  border: 1px solid var(--textpanel-border-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--textpanel-border-active) 50%, transparent);
}
input[type="color"] {
  border-radius: 5px;
  border: 2px solid var(--bg-color-1);
}
/* TEXTPANEL, BUTTON, INPUT */ /* TEXTPANEL, BUTTON, INPUT */
/* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */
.not-found {
  background: linear-gradient(135deg, var(--notfound-bg1), var(--notfound-bg2));
  color: var(--notfound-text1);
}
.not-found p {
  color: var(--notfound-text2);
}
.not-found a {
  background: var(--notfound-btn);
  color: var(--notfound-textbtn);
  border-radius: 10px;
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 40%, transparent);
}
.not-found a:hover {
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 60%, transparent);
}
/* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */ /* NOT FOUND */
/* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */
.underconstruction {
  background: linear-gradient(135deg, var(--notfound-bg1), var(--notfound-bg2));
  color: var(--notfound-text1);
}
.underconstruction p {
  color: var(--notfound-text2);
}
.underconstruction a {
  background: var(--notfound-btn);
  color: var(--notfound-textbtn);
  border-radius: 10px;
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 40%, transparent);
}
.underconstruction a:hover {
  box-shadow: 0 0 10px color-mix(in srgb, var(--notfound-btn) 60%, transparent);
}
/* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */ /* UNDER CONSTRUCTION */
/* COMMON LAYOUT */ /* COMMON LAYOUT */ /* COMMON LAYOUT */
.generalbody {
  background-color: var(--bg-color-1);
  color: var(--generalcontent-text);
}
.generalbigtitle {
  color: var(--generaltitle-text);
}
.generaltitle {
  color: var(--generaltitle-text);
}
.generalcontent a {
  color: inherit;
}
.generalcontent li:hover {
  color: var(--generalcontent-texthover);
  text-shadow: 0 2px 5px
    color-mix(in srgb, var(--generalcontent-textshadow) 50%, transparent);
}
.listseparator {
  color: var(--listseparator-text);
  background-color: var(--listseparator-bg);
  border-radius: 50px 4px;
}
.generaldesc-containerwrapper {
  background-color: var(--bg-color-3);
}
/* COMMON LAYOUT */ /* COMMON LAYOUT */ /* COMMON LAYOUT */