.landing-theme-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  height: 40px;
  gap: 10px;
}
.landing-theme-button {
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  height: 90%;
  aspect-ratio: 1;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
}
.landing-theme-button:hover {
  background-color: color-mix(
    in srgb,
    var(--button-background-active) 20%,
    transparent
  );
  border: 1px solid var(--button-border2-active);
  box-shadow: 0 8px 12px
    color-mix(in srgb, var(--button-border2-active) 50%, transparent);
}
.landingbtn1 {
  background-image: url("../Assets/Navbar/KorazuSun.svg");
}
.landingbtn2 {
  background-image: url("../Assets/Navbar/ZumikoStar.svg");
}
.landingbtn3 {
  background-image: url("../Assets/Navbar/UzakonMoon.svg");
}