:root {
  --icon-size: var(--fluid-25-30);
}
.landing-theme-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: var(--icon-size);
  gap: var(--landing-padding2);
}
.landing-theme-button {
  background-color: inherit;
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  border: 1px solid transparent;
  opacity: 0.4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--landing-padding2);
}
.landing-theme-button:hover:not(.landing-theme-button.active) {
  padding: var(--landing-padding4);
  opacity: 0.6;
  transform: scale(1.2);
}
.landing-theme-icon {
  background-color: initial;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  aspect-ratio: 1;
  border: none;
}
.landing-theme-button.active {
  aspect-ratio: initial;
  margin: 0 var(--landing-padding);
  padding: var(--landing-padding4) var(--landing-padding2);
  opacity: 1;
  transform: scale(1.2);
  border: 1px solid var(--tertiary-content-hover);
  background-color: var(--tertiary-bg-hover);
  color: var(--tertiary-content-hover);
  box-shadow: 0 8px 12px color-mix(in srgb, var(--glow) 50%, transparent);
  cursor: auto;
}
.landing-theme-button.active[aria-label]::after {
  content: attr(aria-label);
  font-size: var(--fs--2);
}
.landing-theme-button.active:hover {
  box-shadow: inherit;
}
