.pfp-overlay:has(.pfpzone.A0:hover) {
  --landing-pfp-overlay: url(../../Assets//Header/header-pfp/a0.webp);
}
.pfp-overlay:has(.pfpzone.B0:hover) {
  --landing-pfp-overlay: url(../../Assets//Header/header-pfp/b0.webp);
}
.pfp-overlay:has(.pfpzone.C0:hover) {
  --landing-pfp-overlay: url(../../Assets//Header/header-pfp/c0.webp);
}
.pfp-overlay:has(.pfpzone.A1:hover) {
  --landing-pfp-overlay: url(../../Assets//Header/header-pfp/a1.webp);
}
.pfp-overlay:has(.pfpzone.B1:hover) {
  --landing-pfp-overlay: url(../../Assets//Header/header-pfp/b1.webp);
}
.pfp-overlay:has(.pfpzone.C1:hover) {
  --landing-pfp-overlay: url(../../Assets//Header/header-pfp/c1.webp);
}
:root {
  --landing-pfp-overlay: url(../../Assets//Header/header-pfp-1.webp);
}
.landingbtn1 {
  background-image: url("../../Assets/characters-logo/symbol-korazu-sun.svg");
}
.landingbtn2 {
  background-image: url("../../Assets/characters-logo/symbol-zumiko-star.svg");
}
.landingbtn3 {
  background-image: url("../../Assets/characters-logo/symbol-uzakon-moon.svg");
}
.landingbtn4 {
  background-image: url("../../Assets/characters-logo/symbol-seavalanche-infinity.svg");
}
.landingbtn5 {
  background-image: url("../../Assets/characters-logo/symbol-tharos-beacon.svg");
}