.noscript-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--landing-padding) 0;
  gap: var(--landing-padding);
  width: 100vw;
  height: 100vh;
  background-color: hsl(from var(--primary-bg, #fefcfc) h s l / 0.7);
}
.noscript-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: var(--primary-content, #4c2c57);
  background-color: hsl(from var(--primary-bg, #fefcfc) h s l / 0.4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  text-align: center;
  border-radius: 12px;
  width: 80%;
  max-width: min(550px, 50vw);
  box-shadow: 0 0 10px 1px hsl(from var(--shadow, #4c2c57) h s l / 0.4);
}
.noscript-message:hover {
  background-color: hsl(from var(--primary-bg, #fefcfc) h s l / 0.9);
  box-shadow: 0 0 10px 1px hsl(from var(--glow, #fdc4d3) h s l / 0.6);
}

.noscript-pfp {
  margin-top: 1rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--primary-content, #4c2c57);
  box-shadow: 0 0 8px rgba(255, 105, 180, 0.5);
  background-color: hsl(from var(--primary-content, #4c2c57) h s l / 0.8 );
}

.noscript-pfp-link {
  display: inline-block;
  text-decoration: none;
}
.noscript-pfp-link:active .noscript-pfp {
  transform: scale(0.95);
  box-shadow: 0 0 10px 1px hsl(from var(--shadow, #4c2c57) h s l / 0.4);
}
.noscript-pfp-link:hover .noscript-pfp {
  transform: scale(1.05);
  box-shadow: 0 0 10px 4px hsl(from var(--glow, #fdc4d3) h s l / 0.6);
}

.noscript-message-pfp {
  margin-top: 0.2rem;
  color: #f29cc2;
  font-size: 16pt;
  font-family: "Josefin Sans";
  font-style: italic;
}

.noscript-message-sub {
  margin-top: 1rem;
  color: #c6b0cf;
  font-size: 10pt;
  font-style: italic;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  background-color: var(--primary-bg, #fefcfc);
  background-size: 20%;
}
body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background-color: var(--primary-content, #4c2c57);
  -webkit-mask-image: url("seaweb-bg-1.webp");
  mask-image: url("seaweb-bg-1.webp");
  -webkit-mask-size: 20%;
  mask-size: 20%;
  -webkit-mask-repeat: repeat;
  mask-repeat: repeat;
  -webkit-mask-position: 0 var(--scroll-y, 0px);
  mask-position: 0 var(--scroll-y, 0px);
}
